:root{

    --sitebg:hsl(304, 92%, 87%);
    --bg:hsl(304, 92%, 90%);
    --borders:hsl(268, 68%, 62%);
    --borders-shadow:rgba(129, 78, 187, 0.442);
    --header:hsl(236, 48%, 53%);
    --text:hsl(236, 48%, 53%);
    --textinf:hsl(236, 48%, 62%);
    --text1-shadow:#33387d81;
    --palette1:#D78FEE;
    --buybutt:hsl(45, 100%, 71%);
}

body{
    background-color: var(--sitebg);
    padding-bottom: 1000px;
    font-family: "Press Start 2P";
}

button{
    font-family: "Press Start 2P";
    transition: 0.1s;
    height: 50px;
}

.main-wrapper{
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    flex-direction: column;
    row-gap: 42px;
    min-width: 1200px;
    max-width: 1400px;
    align-items: center;
    margin-top: 16px;
    padding-bottom: 100px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--borders);
    background-color: var(--bg);
    box-shadow: 7px 7px 0 var(--borders-shadow);
    font-size: 34px;
    text-shadow: 0 2px 0 var(--text1-shadow);
    text-wrap: nowrap;
    color: var(--header);
    padding: 20px 100px 20px 100px;
    max-width: 1000px;
}

.products-wrapper{
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
}


.side{
    display: grid;
    grid-template-rows: auto auto 1fr;
    row-gap: 15px;
}

.points-display{
    display: flex;
    flex-direction: column;
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--borders);
    background-color: var(--bg);
    box-shadow: 7px 7px 0 var(--borders-shadow);
    font-size: 16px;
    color: var(--text);
    padding: 15px 20px 15px 20px;
}

.filters-wrapper{
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--borders);
    background-color: var(--bg);
    box-shadow: 7px 7px 0 var(--borders-shadow);
    font-size: 16px;;
    color: var(--text);
    padding: 25px 15px;
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 25px;
    height: auto;  
}

.filters{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.filter-button{
    border-width: 3px;
    border-style: solid;
    border-radius: 18px;
    border-color: var(--borders);
    box-shadow: 3px 3px 0 var(--borders-shadow);
    margin: 0;
    padding: 1px 13px;
    background: var(--palette1);
    font-size: 16px;
    color: var(--text);
    height: 45px;

}

.filter-button-active{
    border-width: 3px;
    border-style: solid;
    border-radius: 18px;
    border-color: var(--borders);
    box-shadow: none;
    padding: 0px 11px;
    background: var(--palette1);
    font-size: 16px;
    color: var(--text);
    height: 45px;
    margin: 2px 0px 0px 4px;
}

.catalogo-wrapper{
    flex: 5;
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--borders);
    background-color: var(--bg);
    box-shadow: 7px 7px 0 var(--borders-shadow);
    font-size: 16px;
    color: var(--text);
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.items{
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--borders);
    box-shadow: 7px 7px 0 var(--borders-shadow);
    font-size: 16px;
    color: var(--text);
    padding: 12px 14px 12px 14px;
    display: grid;
    grid-template-columns:60px 1fr 115px auto ;
    column-gap: 12px;
    align-items: center;
    justify-items: start;
}

.item-photo{
    border-width: 3px;
    border-style: solid;
    border-radius: 10%;
    border-color: var(--borders);
    font-size: 40px;
    margin: 0px;
    background: var(--palette1);
    text-align: center;
}

.item-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.item-name-rarity{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 14px;
    justify-content: start;
    align-items: center;
}

.item-name{
    font-size: 18px;
    font-weight: 600;
    color: var(--text);
    margin: 4px;
}

.item-desc{
    font-size: 14px;
    color: var(--textinf);
    margin: 4px;
    line-height: 18px;
}

.item-price{
    border-width: 3px;
    border-style: solid;
    border-color: var(--borders);
    background: var(--palette1);
    font-size: 16px;
    padding: 10px;
    color: var(--text);
    width: 100%;
    height: 40px;
}

.item-buy{
    border-width: 3px;
    border-style: solid;
    border-radius: 18px;
    border-color: var(--borders);
    box-shadow: 3px 3px 0 var(--borders-shadow);
    background: var(--buybutt);
    font-size: 16px;
    color: var(--text);
    margin-left: 18px;
    
}

.item-buy:hover, .filter-button:hover, .confirm-buttons:hover{
    cursor: pointer;
}

.item-buy:active, .filter-button:active, .confirm-buttons:active{
    box-shadow: none;
    transform: translate(2px, 4px);
}

.filter-button-active:active, .confirm-buttons-active:active{
    transform: translate(1px, 1px);
}


.obscuredOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10; 
}

.buy-overlay{
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--borders);
    background-color: var(--bg);
    box-shadow: 7px 7px 0 var(--borders-shadow);
    color: var(--text);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 18px;
    text-align: center;
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 15px;
    max-width: 600px;
    z-index: 100;
}

.confirmation-text{
    font-size: 18px;
    font-weight: 400;
    color: var(--text);
    margin: 5px;
    line-height: 22px;
}

.confirm-buttons-wrapper{
    display: grid;
    grid-template-columns: auto auto;
}

.confirm-buttons{
    border-width: 3px;
    border-style: solid;
    border-radius: 18px;
    border-color: var(--borders);
    box-shadow: 3px 3px 0 var(--borders-shadow);
    background: var(--buybutt);
    font-size: 16px;
    color: var(--text);
    width: 100px;
    justify-self: center;
}

.thanks, .broke{
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--borders);
    background-color: var(--bg);
    box-shadow: 7px 7px 0 var(--borders-shadow);
    color: var(--text);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 18px;
    text-align: center;
    z-index: 100;
    margin: 0;
}

.hidden {
  display: none;
}